@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', serif;
    color: white;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,60,70,1) 100%, rgba(0,212,255,1) 100%);
    width: 100wh;
    height: 100vh;
}
.title-main{
    font-size: 2rem;
    text-transform: uppercase;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    padding: 10px;
    text-decoration: none;
}
.menu{
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 2rem;
    width: 100wh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,60,70,1) 100%, rgba(0,212,255,1) 100%);
}
.menu a{
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
.container{
    display: inline-block;
    width: 30%;
    padding: 1rem;
}
.contact-me{
    position: absolute;
    top: 15px;
    left: 1300px;
    padding: 1rem;
    width: 100wh;
    background-color: grey;
    border-radius: 2rem;
}
.contact-me:hover{
    transform: scale(1.1);
}