*{
    color: white;
}
body{
    background-color: black;
    width: 100wh;
    height: 100vh;
}
.title-main{
    font-size: 2rem;
    text-transform: uppercase;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    padding: 10px;
    text-decoration: none;
}
.menu{
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 2rem;
    width: 100wh;
    background-color: black;
}
.menu a{
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
.container{
    display: inline-block;
    width: 30%;
    padding: 1rem;
}
.contact-me{
    position: absolute;
    top: 15px;
    left: 1300px;
    padding: 1rem;
    width: 100wh;
    background-color: grey;
    border-radius: 2rem;
}
.contact-me:hover{
    transform: scale(1.1);
}