@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', serif;
    color: white;
}
body{
    background-color: black;
    width: 100wh;
    height: 100vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.title-main{
    font-size: 5rem;
    text-transform: uppercase;
    animation: title 1s ease;
}
.menu{
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 2rem;
    width: 100wh;
    background-color: black;
}
.menu a{
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
.contactme-button{
    position: absolute;
    top: 15px;
    left: 1300px;
    padding: 1rem;
    width: 100wh;
    background-color: grey;
    border-radius: 2rem;
}
.contactme-button a{
    color: white;
}
.contactme-button:hover{
    transform: scale(1.1);
}
@keyframes title{
    0%{
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0%);
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.content-1{
    width: 50%;
    padding: 2rem;
    font-size: 1.3rem;
}
.content-2{
    width: 50%;
    padding: 2rem;
    font-size: 1.3rem;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.skills1{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    padding: 1rem;
    margin: 1rem;
}
.skills1 img{
    width: 100%;
    border-radius: 50%;
}
.skills2{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    padding: 1rem;
    margin: 1rem;
}
.skills2 img{
    width: 100%;
    border-radius: 50%;
}
.skills3{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    padding: 1rem;
    margin: 1rem;
}
.skills3 img{
    width: 100%;
    border-radius: 50%;
}
.skills4{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    padding: 1rem;
    margin: 1rem;
}
.skills4 img{
    width: 100%;
    border-radius: 50%;
}
.contactme-box{
    display: flex;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.contactme-box-title{
    font-size: 2rem;
}
form{
    max-width:420px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
}
.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid grey;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

textarea {
    height: 150px;
    line-height: 100%;
    resize:vertical;
    max-height: 180px;
}

[type="submit"] {
    width: 100%;
    background:grey;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color: white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover { 
    background: white; 
    color: grey;
}