*{
    font-family: 'Poppins', serif;
    color: white;
}
body{
    background-color: black;
    width: 100wh;
    height: 100vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.title-main{
    font-size: 5rem;
    text-transform: uppercase;
    animation: title 1s ease;
}
.menu{
    position: sticky;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 2rem;
    width: 100wh;
    background-color: black;
}
.menu a{
    padding: 20px;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}
.contact-me{
    position: absolute;
    top: 15px;
    left: 1300px;
    padding: 1rem;
    width: 100wh;
    background-color: grey;
    border-radius: 2rem;
}
.contact-me a{
    color: white;
}
.contact-me:hover{
    transform: scale(1.1);
}
@keyframes title{
    0%{
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0%);
    }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.content-1{
    width: 50%;
    padding: 2rem;
    font-size: 1.3rem;
}
.content-2{
    width: 50%;
    padding: 2rem;
    font-size: 1.3rem;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.skills1{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}
.skills2{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}
.skills3{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}
.skills4{
    border-radius: 50%;
    width: 10%; 
	aspect-ratio: 1 / 1;
    background-color: grey;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}
